@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Color variables */
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

/* Reset styles and global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  display: grid;
  place-items: center;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* QR container styles */
.qr-container {
  width: 90%;
  max-width: 20rem;
  background-color: var(--white);
  text-align: center;
  border-radius: 20px;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
}

/* Image block styles */
.img-block img {
  display: block;
  max-width: 90%;
  margin: auto;
  border-radius: 10px;
  margin-top: 1.2rem;
  cursor: pointer;
}

/* Info block styles */
.info-block {
  padding: 1.2rem;
}

/* Title styles */
h1 {
  font-size: 1.4rem;
  color: var(--dark-blue);
}

/* Text styles */
.info-block p {
  padding: 1rem;
  word-spacing: 1px;
  color: var(--grayish-blue);
}
